@import url('https://fonts.googleapis.com/css?family=Palanquin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sintony&display=swap');
a {
  color: inherit;
}

h1 {
  font-family: 'Palanquin', sans-serif;
  font-size: 16px;
}

.login {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 350px;
  width: 700px;
  border-radius: 15px;
  font-family: 'Sintony', sans-serif;
}

.left-side {
  position: absolute;
  top: 0;
  height: inherit;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  ;
  background: no-repeat url("/asset1.jpg");
  background-size: auto 120%;
  background-position: 62% 95%;
}

.right-side {
  position: absolute;
  top: 0;
  width: 60%;
  left: 40%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oauth-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 240px;
  height: 40px;
  text-decoration: none;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.google-signin {
  display: inline-block;
  margin: 0 50px;
  font-size: 12px;
}