a {
  color: inherit;
}

.login {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 350px;
  width: 700px;
  border-radius: 15px;
}

.left-side {
  position: absolute;
  top: 0;
  height: inherit;
  width: 40%;
  display: flex;
  flex-direction: column;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: no-repeat url("./asset1.jpg");
  background-size: auto 120%;
  background-position: 62% 95%;
}

.left-container {
  position: absolute;
  top: 45px;
  left: 40px;
}

.title {
  text-transform: uppercase;
  width: 90%;
  font-weight: lighter;
  line-height: 25px;
}

.left-container > p {
  line-height: 5px;
}

.right-side {
  position: absolute;
  top: 0;
  width: 60%;
  left: 40%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  margin: 10px auto 10px 15%;
  width: max-content;
}

@media only screen and (min-width: 378px) and (max-width: 700px) {
  .login {
    width: 90%;
    top: 10%;
  }
  .left-container > p {
    line-height: initial;
  }
  .title {
    font-size: 20px;
  }
  .left-container {
    left: 5%;
  }
}

@media only screen and (max-width: 378px) {
  .login {
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    min-height: 100vh;
    top: 10%;
  }
  .left-container > p {
    line-height: initial;
  }
  .left-side {
    position: static;
    height: 700px;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }
  .right-side {
    position: static;
    width: 100%;
    left: 0;
  }
  .left-container {
    top: 0;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, 0);
  }
  .title {
    width: min-content;
  }
}